*{
    margin: 0px;
}
h1 {
    display: flex;
    border: rgb(42, 165, 63);
    color: #e3e9ec;
    justify-content: center;
    align-items: center;
    background: rgb(199, 31, 31);
}

div {
    justify-content: space-around;
}
.copy {
    display: flex;
    color: rgb(255, 255, 255);
    background: rgb(10, 9, 9);
    align-items: center;
    height: 41px;
}
.ph0{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ph1{
    display: flex;
    justify-content: center;
    border-color: black;
    border-width: 2px;
    border-left: black;
}
.img-car{
    border: 2px dashed black;
    margin: 2px;
}
.img-present{
    width: 100%;
}